.table-head {
    background-color: rgb(196, 137, 137) !important;
}

 .review-book-title, .review-book-url {
    width: 20% !important;
}

.table-row {
    background-color: rgb(231, 229, 229);
}

.searchButton:hover,
.searchButton:focus {
  background-color: #bb5b93;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.searchButton {
    align-items: center;
    background-clip: padding-box;
    background-color: #ad7284;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.review-book-summary {
    width: 40% !important; margin-left: 20px !important;
}

.review-book-url {
    margin-left: 20px !important;
}

h3 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 2.5em;
  letter-spacing: -2px;
  border-bottom: 2px solid black;
  text-transform: uppercase;
}

h2 {
    margin-top: 3.8488px;
}
.row {
    margin-top: 50px;
}