<base href="/" >
<body>  
    <main>  
        <div class="slider-area position-relative" >
            <div class="slider-active" >
                <div class="single-slider slider-height slider-bg1 d-flex align-items-center">
                    <div class="container" id="mainContainer">
                        <div class="row justify-content-center" >
                            <div class="col-xxl-6 col-xl-6 col-lg-7 col-md-9 col-sm-12" >
                                <div class="hero-caption text-center" >
                                    <span >Store Books, Movies, Podcasts, and Songs.</span>
                                    <h1 @fade>Style your world with collections. Start Here.</h1>
                                    <div class="double-btn d-flex flex-wrap justify-content-center"  id="startWrapper">
                                        <a routerLink="/register" class="btn" id="startNowButton" value="Start Now">Start Now</a>
                                    </div>              
                                </div>
                            </div>
                            <div class="col-xxl-10 col-xl-9 col-lg-9 col-md-11 col-sm-12" id="divisionImage">
                                <div class="hero-desktop-img">
                                    <img src="assets/img/hero/main2.PNG" id="mainImage" alt="Logo Image" id="imageBorder">
                                </div> 
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
  