.profile-wrapper {
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 15vh;
}

.full-wrapper {
    background-image: url('https://i.ibb.co/3WWj6Kq/cop1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
