@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

body {
	font-family: $font_2;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font_1;
	color:$heading-color;

	margin-top: 0px;
	font-style: normal;
	font-weight: 500;
	text-transform: normal;
}
p {
	font-family:$font_2;
	color: $font_color1;

	font-size: 16px;
	line-height: 30px;
	margin-bottom: 15px;
	font-weight: 300;
	line-height: 1.6;
}

.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
.clear{
    clear: both;
}


/*-- Margin Bottom --*/
	@for $i from 1 through 40 {
		.mb-#{5 * $i}{margin-bottom: 5px *$i;}
	}
/*-- Margin Left --*/
	@for $i from 1 through 40 {
		.ml-#{5 * $i}{margin-left: 5px * $i;}
	}

/*-- Margin Right --*/
	@for $i from 1 through 40 {
		.mr-#{5 * $i}{margin-right: 5px *$i;}
	}

/*-- Padding Top --*/
	@for $i from 1 through 40 {
		.pt-#{5 * $i}{padding-top: 5px *$i;}
	}
	.pt-260{
		padding-top: 260px;
	}
/*-- Padding Bottom --*/
	@for $i from 1 through 40 {
		.pb-#{5 * $i}{padding-bottom: 5px *$i;}
	}

/*-- Padding Left --*/
	@for $i from 1 through 40 {
		.pl-#{5 * $i}{padding-left: 5px *$i;}
	}

/*-- Padding Right --*/
	@for $i from 1 through 40 {
		.pr-#{5 * $i}{padding-right: 5px *$i;}
	}

/*-- Margin Top --*/
	@for $i from 1 through 40 {
		.mt-#{5 * $i}{margin-top: 5px * $i;}
	}


a,
.button {
	@include transition(.3s);
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a{
	color: rgb(99, 92, 92);
	text-decoration: none;
}
a:hover{
	color: #fff;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	text-decoration: none;
}
a,
button {
	color: #fff;
	outline: medium none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}

input:focus::-moz-placeholder {
	opacity: 0;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.capitalize {
	text-transform: capitalize;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}

ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}

hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}

.theme-overlay {
	position: relative
}
.theme-overlay::before {
	background: #1696e7 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}
.overlay2{
	position: relative;
	z-index: 0;
}
.overlay2::before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	@extend %overlay1;
}
.overlay2{
	position: relative;
	z-index: 0;
}
.overlay2::before{
	position: absolute;
	content: "";
	background-color: #2E2200;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.5;
}

	.section-over1{
		position: relative;
		z-index: 1;
		&::before {
			position: absolute;
			content: "";
			background-color: rgba(6, 7, 6, 0.6);
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			z-index: -1;
			background-repeat: no-repeat;
		}
	}

	.breadcrumb > .active {
		color: #888;
	}

#scrollUp {
	position: fixed;
	right: 40px;
	bottom: 40px;
	width: 50px;
	height: 50px;
	background: $theme-color;
	color: #fff;
	text-align: center;
	line-height: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 23px;
  }
  
  #scrollUp:hover i {
	animation: none;
  }
  
  @media (max-width: 767px) {
	#scrollUp {
	  right: 20px;
	  bottom: 20px;
	}
  }
  
  #scrollUp i {
	-webkit-animation: bounce 3s infinite ease-in-out;
	-o-animation: bounce 3s infinite ease-in-out;
	-ms-animation: bounce 3s infinite ease-in-out;
	-moz-animation: bounce 3s infinite ease-in-out;
	animation: bounce 3s infinite ease-in-out;

	display: block;
	top: 16px;
	position: relative;
  }
  
  @-webkit-keyframes bounce {
	0% {
	  transform: translateY(-3px);
	}
	50% {
	  transform: translateY(3px);
	}
	100% {
	  transform: translateY(-3px);
	}
  }
  
  @keyframes bounce {
	0% {
	  transform: translateY(-3px);
	}
	50% {
	  transform: translateY(3px);
	}
	100% {
	  transform: translateY(-3px);
	}
  }
  

	.sticky-bar {
		left: 0;
		margin: auto;
		position: fixed;
		top: 0;
		width: 100%;
		-webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
		box-shadow:0 10px 15px rgba(25, 25, 25, 0.1);
		z-index: 9999;
		-webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
		animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
		-webkit-box-shadow:0 10px 15px rgba(25, 25, 25, 0.1);
	}

#scrollUp,#back-top  {
	background:$theme-color;
	height: 50px;
	width: 50px;
	right: 31px;
	bottom: 18px;
	position: fixed;
	@media #{$xs}{
		right: 16px;
	}
	color: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	line-height: 48px;
	border: 2px solid transparent;
	box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
	a i {
		display: block;
		line-height: 50px;
	}

}

#scrollUp:hover {
	color: #fff;
}

	.bounce-animate{
		animation-name: float-bob;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		-moz-animation-name: float-bob;
		-moz-animation-duration: 2s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: linear;
		-ms-animation-name: float-bob;
		-ms-animation-duration: 2s;
		-ms-animation-iteration-count: infinite;
		-ms-animation-timing-function: linear;
		-o-animation-name: float-bob;
		-o-animation-duration: 2s;
		-o-animation-iteration-count: infinite;
		-o-animation-timing-function: linear;
		}
	@-webkit-keyframes float-bob {
		0% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px); }
		50% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px); }
		100% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px); } }
		
/* heartbeat */
	.heartbeat {
		animation: heartbeat 1s infinite alternate;
	}
	@-webkit-keyframes heartbeat {
		to {
			-webkit-transform: scale(1.03);
			transform: scale(1.03);
		}
	}

	.rotateme {
		-webkit-animation-name: rotateme;
		animation-name: rotateme;
		-webkit-animation-duration: 30s;
		animation-duration: 30s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
	}
	@keyframes rotateme {
		from {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		to {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	@-webkit-keyframes rotateme {
		from {
			-webkit-transform: rotate(0deg);
		}

		to {
			-webkit-transform: rotate(360deg);
		}
	}

	.slick-initialized .slick-slide {
		outline: 0;
	}

	.running {
		animation: 
		  nudge 10s linear infinite alternate;
	  }
	  
	  @keyframes nudge {
		0%, 100% {
		  transform: translate(0, 0);
		}
		
		50% {
		  transform: translate(-100px, 0);
		  	@media #{$xs}{
				transform: translate(-50px, 0) !important;
			}
		}
		
		80% {
		  transform: translate(100px, 0);
		  	@media #{$xs}{
				transform: translate(50px, 0) !important;
			}
		}
	  }
	

.nice-select {
	line-height: 30px;
	border: 1px solid #eaeaea;
	height: 50px;
	width: 100%;
	color: #071112;
	font-weight: 500;
	text-transform: capitalize;
	padding-top: 10px;
	border-radius: 25px;
	&::after {
		border-bottom: 2px solid #a3a3a3;
		border-right: 2px solid #a3a3a3;
		height: 7px;
		right: 41px;
		width: 7px;
	}
	.list {
		width: 100%;
		border-radius: 0;
	}
	&.open .list {
		width: 100%;
		border-radius: 0;
	}
	.option {
		color: #071112;
	}
	&::placeholder{
		color: #5E5E5E;
		font-size: 16px;
		font-weight: 400;
	}
}


/*-- Section Padding -- */
	.section-padding{
		padding-top: 100px;
		padding-bottom: 100px;
		@media #{$md}{
			padding-top: 100px;
			padding-bottom: 100px;
		}
		@media #{$sm}{
			padding-top: 70px;
			padding-bottom: 70px;
		}
		@media #{$xs}{
			padding-top: 70px;
			padding-bottom: 70px;
		}
	}
	.top-padding{
		padding-top: 100px;
		@media #{$md}{
			padding-top: 100px;
		}
		@media #{$sm}{
			padding-top: 70px;
		}
		@media #{$xs}{
			padding-top: 70px;
		}
	}	
	.top-padding2{
		padding-top: 80px;
		@media #{$md}{
			padding-top: 70px;
		}
		@media #{$sm}{
			padding-top: 70px;
		}
		@media #{$xs}{
			padding-top: 70px;
		}
	}	
	.bottom-padding{
		padding-bottom: 100px;
		@media #{$md}{
			padding-bottom: 100px;
		}
		@media #{$sm}{
			padding-bottom: 70px;
		}
		@media #{$xs}{
			padding-bottom: 70px;
		}
	}	
	.bottom-padding2{
		padding-bottom: 90px;
		@media #{$md}{
			padding-bottom: 70px;
		}
		@media #{$sm}{
			padding-bottom: 70px;
		}
		@media #{$xs}{
			padding-bottom: 70px;
		}
	}	
	.testimonial-padding{
		padding-top: 100px;
		padding-bottom: 170px;
		@media #{$md}{
			padding-top: 90px;
			padding-bottom: 130px;
		}
		@media #{$sm}{
			padding-top: 90px;
			padding-bottom: 130px;
		}
		@media #{$xs}{
			padding-top: 90px;
			padding-bottom: 130px;
		}
	}	
	.w-padding{
		padding-top: 85px;
		padding-bottom: 80px;
		@media #{$sm}{
			padding-top: 70px;
			padding-bottom:70px;
		}
		@media #{$xs}{
			padding-top: 70px;
			padding-bottom:70px;
		}
	}

	.footer-padding{
		padding-top: 97px;
		padding-bottom: 43px;
		@media #{$md}{
			padding-top: 80px;
			padding-bottom: 20px;
		}
		@media #{$sm}{
			padding-top: 80px;
			padding-bottom: 20px;
		}
		@media #{$xs}{
			padding-top: 80px;
			padding-bottom: 0px;
		}
		&.footer-padding2{
			padding-top:0px;
		}
	}

.section-tittle{
	@media #{$sm}{
		margin-bottom: 50px;
	}
	@media #{$xs}{
		margin-bottom: 50px;
	}
	p{
		color:#6D6D6D;
		font-size: 16px;
		font-weight:400;
		line-height: 1.5;
		br{
			@media #{$sm}{
				display: none;
			}
			@media #{$xs}{
				display: none;
			}
		}
		a{
			text-decoration: underline;
		}
	}
	& > span{
		color:$theme-color;
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 10px;
		text-transform:capitalize;
		display: inline-block;
		@media #{$xs}{
			font-size: 14px;
			padding-left: 0px;
		}
	}
	
	h2 {
		color: $heading-color;
		font-size: 38px;
		display: block;
		font-weight: 700;
		line-height: 1.3;
		letter-spacing: -.04em;
		margin-bottom: 30px;
        @media #{$large1}{
            font-size: 40px;
        }
		@media #{$lg}{
			font-size: 41px;
		}
		@media #{$md}{
			font-size: 43px;
		}
		@media #{$sm}{
			font-size: 31px;
		}
		@media #{$xs}{
			font-size: 24px;
		}
		br{
			@media #{$sm}{
				display: none;
			}
			@media #{$xs}{
				display: none;
			}
		}
	}
	h3{
		font-size: 24px;
		font-weight: 400;
		color: $heading-color;
		line-height: 1.4;
		@media #{$xs}{
			font-size: 19px;
		}
	}
	&.section-tittle2{
		span{
			color: #fff;
		}
		h2 {
			color:#fff;
		}
		p{
			color: #C9D6CB;
			font-size: 20px;
		}
	}
	&.section-tittle3{
		p{
			color: $heading-color;
			font-size: 20px;
			font-weight: 500;
			a{
				color: $theme-color;
				font-family: $font_1;
				font-size: 20px;
				font-weight: 500; 
				text-decoration: underline;
				&:hover{
					letter-spacing: 0.5px;
				}
			}
		}
	}
}

.small-tittle{
	@media #{$sm}{
		margin-bottom: 50px;
	}
	@media #{$xs}{
		margin-bottom: 50px;
	}
	h4 {
		color:#fff;
		font-size: 28px;
		display: block;
		font-weight: 600;
		line-height: 1.4;
		margin-bottom: 16px;

		@media #{$lg}{
			font-size: 41px;
		}
		@media #{$md}{
			font-size: 43px;
		}
		@media #{$sm}{
			font-size: 31px;
		}
		@media #{$xs}{
			font-size: 24px;
		}
	}
	p{
		color:#C9D6CB;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.5;

		a{
			text-decoration: underline;
		}
	}
	&.small-tittle2{
		h4 {
			color:$heading-color;
			
		}
		p{
			color:#66816A;
		}
	}
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    


.section-img-bg{
    background-size: 100% 100%;
    background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}
.section-img-bg2{
	background-size: cover !important;
	background-repeat: no-repeat !important;
}