.slider-height {
    height: 1222px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    @media #{$large1}{
        height: 1100px;
    }
    @media #{$lg}{
        height: 1000px;
    }
    @media #{$md}{
        height: 880px;
    }
    @media #{$sm}{
        height: 880px;
    }
    @media #{$xs}{
        height:800px;
    }
}

.slider-height2{  
    height: 350px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    @media #{$md}{
        height: 300px;
    }
    @media #{$sm}{
        height: 300px;
    }
    @media #{$xs}{
        height: 300px;
    }
}


// Slider Background
    .slider-bg1{
        @extend %hero_gradient;
    }

    .slider-bg2{
        @extend %hero_gradient;
    }


.slider-area{
    background-color: $section_bg1;
    .hero-caption{
        margin-bottom: 75px;
        padding-top: 48px;
        @media #{$lg}{
            padding-top: 50px;
        }
        @media #{$md}{
            padding-top: 50px;
        }
        @media #{$sm}{
            padding-top: 50px;
        }
        @media #{$xs}{
            padding-top: 30px;
        }
        span{
            color: $theme-color2;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 400;
            color: #97A7AF;
            margin-bottom: 13px;
            display: block;
            @media #{$xs}{
                margin-bottom: 30px;
            }
        }
        h1{
            font-family: $font_1;
            font-size: 52px;
            font-weight: 700;
            margin-bottom: 36px;
            color: #fff;
            line-height: 1.2;
            letter-spacing: -.05em;
            @media #{$lg}{
                font-size: 50px;
            }
            @media #{$md}{
                font-size: 50px;
            }
            @media #{$sm}{
                font-size: 50px;
            }
            @media #{$xs}{
                font-size: 35px;
            }
        }

        p{
            color: #fff;
            margin-bottom: 41px;
            font-size: 22px;
            font-weight:300;
            line-height: 1.5;
            br{
                @media #{$sm}{
                    display: none;
                }
                @media #{$xs}{
                    display: none;
                }
            }
            @media #{$md}{
                margin-bottom: 43px;
                font-size: 21px;
            }
            @media #{$sm}{
                margin-bottom: 43px;
                font-size: 18px;
            }
            @media #{$xs}{
                margin-bottom: 43px;
                font-size: 18px;
            }
        }
        &.hero-caption2{
            margin: 0;
            padding-top: 100px;
            @media #{$xs}{
                padding-top: 50px;
            }
            h2{
                font-family: $font_1;
                color:#fff;
                font-size: 48px;
                display: block;
                font-weight: 700;
                line-height: 1.4;
                margin-bottom: 6px;
                @media #{$md}{
                    font-size: 50px;
                }
                @media #{$sm}{
                    margin-bottom: 20px;
                }
                @media #{$xs}{
                    font-size: 40px;
                }
            }
            p{
                margin-bottom: 0px;
                color:#fff;
                font-size: 18px;
                line-height: 1.6;
                @media #{$xs}{
                    font-size: 18px;
                }
            }
        }
    }
    .hero-desktop-img{
        img{
            width: 100%;
        }
    }
}

.hero-overly {
    position: relative;
    z-index: 0;
    &::before {
        position: absolute;
        content: "";
        @extend %overlay1;
        width: 74%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-repeat: no-repeat;
    }
}

.hero-overly02{
    position: relative;
    z-index: 0;
    &::before {
        position: absolute;
        content: "";
        @extend %overlay1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-repeat: no-repeat;
    }
}

.slider-area2{
    background-image: url(../img/hero/hero2.png);
	background-repeat: no-repeat;
    background-size: cover;
    .hero-cap{
        @media #{$md}{
            padding-top: 50px;
        }
        @media #{$sm}{
            padding-top: 50px;
        }
        @media #{$xs}{
            padding-top: 50px;
        }
        h2{
            color: #fff;
            font-size: 50px;
            font-weight: 800;
            text-transform: capitalize;
            line-height: 1;
            margin-bottom: 21px;
            @media #{$sm}{
                font-size: 50px;
              }
            @media #{$xs}{
                font-size: 35px;
              }
        }
    }
}


.dot-style {
    .slick-dots {
        position: absolute;
        text-align: center;
        right:0;
        left: 0;
        bottom: 28px;
        li {
            display: inline-block;
            margin: 0 8px;  
        }
        li.slick-active button::before {
            position: absolute;
            content: "";
            height: 23px;
            width: 23px;
            border: 2px solid #fff;
            left: 49%;
            margin: 0 auto;
            text-align: center;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            border-radius: 50%;
            line-height: 25px;
             @include transition(.4s);
        }
        button {
            text-indent: -100000px;
            height: 7px;
            width: 7px;
            line-height: 7px;
            border: 0;
            padding: 0;
            cursor: pointer;
            border-radius: 50%;
            background:#fff ;
        }
    }
}


.dot-style .slick-dots  .slick-active button{
    background: #fff;
    position: relative;
     @include transition(.4s);
}

