<body>
    <section class="pricing-card-area section-bg section-padding" id="pricingArea">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-9">
                    <div class="section-tittle mb-60 text-center">
                        <h3>Subscribe or Start Free.<br> BookCompany Premium.</h3>
                        <p>BookComapny is a launchpad to start storing your favorite albums, books, 
                            songs, or anything you can think of towards your personal collection via 
                            an online database. Also discover your favorite locations, search New York
                            Times reviews of books by your favorite author, and observe the best sellers 
                            list updated in realtime. <br>Get more storage when subscribing.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class=" col-xl-4 col-lg-4 col-md-6 col-sm-8">
                    <div class="single-card mb-30">
                        <div class="card-mid">
                            <span>BookCompany Free</span>
                            <h4 id="priceHeader">FREE</h4>
                        </div>
                        <div class="card-bottom">
                            <ul>
                                <li><i class="ti-check"></i>Up to 1k Books</li>
                                <li><i class="ti-check"></i>Search Landmarks</li>
                                <li><i class="ti-check"></i>Best Sellers List</li>
                                <li><i class="ti-check"></i>10+ NYT Book Reviews</li>
                            </ul>
                            <a href="/register" class="buttons get-btn" id="freeButton">Get Free</a>
                        </div>
                    </div>
                </div>
                <div class=" col-xl-4 col-lg-4 col-md-6 col-sm-8">
                    <div class="single-card mb-30">
                        <div class="card-mid">
                            <span>BookCompany Premium                                                                                                                                                                                                                                                                                                                                                       </span>
                            <h4 id="priceHeader">$10.00 <span id="priceHeader"> month</span></h4>
                        </div>
                        <div class="card-bottom">
                            <ul>
                                <li><i class="ti-check"></i>Up to 10k Books</li>
                                <li><i class="ti-check"></i>Search Landmarks <sup>+</sup></li>
                                <li><i class="ti-check"></i>Best Sellers List <sup>+</sup></li>
                                <li><i class="ti-check"></i>100+ NYT Book Reviews</li>
                            </ul>
                            <a href="/register" class="buttons get-btn" id="subButton">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>