<body>
    <main>
    <section class="blog_area single-post-area section-padding">
     <div class="container">
      <div class="row">
       <div class="col-lg-8 posts-list">
        <div class="single-post">
         <div class="feature-img">
            <h1 id="aboutHeaderText">About Us</h1>
            <p>With BookCompany, it’s easy to store the right book or song for every moment – on your personal collection.
                There are countless things you can upload - real or fiction - to your storage. So whether you’re behind the wheel, 
                working out, partying or relaxing, the right book/music/film is always at your fingertips. Choose what you want to store, 
                or let BookCompany surprise you. You can also browse through landmarks via the GoogleMap API integrated
                with the app. Also, the integrated New York Times API allows for current list of
                all best sellers of a specific genre/category in addition to displaying all the New York Times book reviews of any author of your choosing.
                <br><br>
                Browse your home feed. Your home feed is where you'll find your uploaded projects. We also provide directions on how to get to your nearest library, museum, 
                festival, movie-screening, etc. Thanks to the <strong>Google Map Search and Places APIs</strong>, you can 
                also obtain estimated time of arrival as well as accurate travel routes.
                <br><br>
                With the <strong>New York Times Best Sellers List and Reviews APIs</strong>, you can explore the details about your favorite author's books.
                In addition, articles (from categories like 'books') from the New York Times are also displayed in realtime thanks to the <strong>New York Times Articles API</strong>.
                <br><br>
                Subscribe or listen for free.
            </p> 
        </div>
        <div class="blog_details">
          <h2 id="sectionsText">Customer Service and Support
         </h2>
         <p class="excert">
           <a href="#"> Help site.</a> Check out our help site for answers to your questions and to learn how to get the most out of BookCompany 
           and your collection.
         </p>
         <p>
            <a href="/register"> Your Profile.</a> Your profile is where you can find your collection of books, songs, movies, etc. 
            Here, you can view what you've uploaded, search for landmarks potentially related to your real or user-created books and other projects.
         </p>
         <div class="quote-wrapper">
           <div class="quotes">
            <img src="assets/img/aboutUs/customer-testimonial-page-modi.png" alt="Testimonial Image:"> &nbsp;
             <a id="testimonialText">&#8220;BookCompany's support team was extremely helpful with navigating my collection. I definetely recommend
                 trying out and building your collection.&#8221;</a>
             <br>
               <a class="text-right" id="testimonialText">-A Faitful Customer</a>
          </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="row" id="supportColumns">
                    <div class="col text-center"><i class="bi bi-headset"></i></div>
                    <div class="w-100"></div>
                    <div class="col text-center"><a href="/contact" id="linkText">Customer Support Center</a></div>
                </div>
            </div>
            <div class="col-sm">
                <div class="row" id="supportColumns">
                    <div class="col text-center"><i class="bi bi-house-door"></i></div>
                    <div class="w-100"></div>
                    <div class="col text-center"><a href="/contact" id="linkText">Small Business Support</a></div>
                </div>
            </div>
            <div class="col-sm">
                <div class="row" id="supportColumns">
                    <div class="col text-center"><i class="bi bi-collection"></i></div>
                    <div class="w-100"></div>
                    <div class="col text-center"><a href="/contact" id="linkText">Database Resource Library</a></div>
                </div>
            </div>
        </div>
        <br>
      </div>
     </div>
    </div>
    <div class="col-lg-4">
      <div class="blog_right_sidebar">
        <aside class="single_sidebar_widget search_widget">
            <form action="#">
            <div class="form-group m-0">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Us">
                    <div class="input-group-append d-flex">
                    <button class="searchButton" type="button">Search</button>
                    </div>
                </div>
            </div>
            </form>
        </aside>
     <aside class="single_sidebar_widget newsletter_widget">
        <h4 class="widget_title" id="sectionsText">Newsletter</h4>
        <form action="/register">
            <div class="form-group">
            <input type="email" class="form-control" placeholder='Enter email' required>
            </div>
        <button id="subscribeButton" type="submit">Subscribe</button>
        </form>
     </aside>
     <aside class="single_sidebar_widget post_category_widget">
      <h4 class="widget_title" id="sectionsText">Category</h4>
        <ul class="list cat-list">
            <li>
                <a href="#" class="d-flex">
                    <p>Books&nbsp;</p>
                    <p>(37<sup>+</sup>)</p>
                </a>
            </li>
            <li>
            <a href="#" class="d-flex">
                <p>Movies&nbsp; </p>
                <p>(28<sup>+</sup>)</p>
            </a>
            </li>
            <li>
                <a href="#" class="d-flex">
                    <p>Songs&nbsp;</p>
                    <p> (11<sup>+</sup>)</p>
                </a>
            </li>
            <li>
                <a href="#" class="d-flex">
                    <p>Albums&nbsp;</p>
                    <p>(17<sup>+</sup>)</p>
                </a>
            </li>
            <li>
                <a href="#" class="d-flex">
                    <p>Mixtapes&nbsp;</p>
                    <p>(22<sup>+</sup>)</p>
                </a>
            </li>
            <li>
                <a href="#" class="d-flex">
                    <p>Podcasts&nbsp;</p>
                    <p>(3<sup>+</sup>)</p>
                </a>
            </li>
        </ul>
    </aside>
    <aside class="single_sidebar_widget tag_cloud_widget">
        <h4 class="widget_title" id="sectionsText">Tags<i class="bi bi-hash"></i></h4>
        <ul class="list">
            <li>
                <a href="#">Action</a>
            </li>
            <li>
                <a href="#">Classics</a>
            </li>
            <li>
                <a href="#">Fantasy</a>
            </li>
            <li>
                <a href="#">Fiction</a>
            </li>
            <li>
                <a href="#">Mystery</a>
            </li>
            <li>
                <a href="#">Romance</a>
            </li>
            <li>
                <a href="#">Sci-Fi</a>
            </li>
            <li>
                <a href="#">Thrillers</a>
            </li>
        </ul>
    </aside>
    </div>
    </div>
    </div>
    </div>
    </section>
    </main>
</body>