<body>
  <div class="row" id="mainBackground"></div>
  <div class="row pb-4">
    <div class="row no-gutters mb-5">
        <div class="col-12">
            <div class="row">
                <div class="col-2"></div>
                <div class="col" id="textInfo">
                    BookComapny strives to provide the best collection storage. We operate in an industry built on trust. This can only be achieved through communication and experienced support.
                    Make sure to include any questions regarding difficulties uploading and storage items into your collections. Have questions about uploading? Our entire team receives specialized training regularly to ensure you are receiving the best information possible. From basic questions to complex compliance inquiries, we're here to help!          
                    Interested in learning more about our services? Our Account Executives take the time to discuss your existing background screening program and help you make smart decisions that best meet your needs. 
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
    <h2 class="h1-responsive font-weight-bold text-center mb-5" id="contactTextHeader">Contact us</h2>
    <div class="row">
        <div class="col-2"> </div>
        <div class="col-md-2 text-center " id="contactLogoBox2">            
            <i class="bi bi-info-circle-fill"></i>
            <p id="iconText">Did you find the information you were looking for on this page?</p>
            <div class="row mb-3">
                <div class="col-6" id="yesBtn"><a href="#" id="yesText">Yes</a></div>
                <div class="col-6" id="noBtn"><a href="#" id="noText">No</a></div>   
            </div>  
            <i class="bi bi-chat-left-fill"></i>
                <p id="iconText"><a href="#" id="chatText">Chat with Us</a></p>
        </div>
        <div class="col">    
            <form id="contact-form" name="contact-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>
                    </div>
                </div>  
            </form>
            <div class="status"></div>
        </div>
        <div class="col-md-2 text-center" id="contactLogoBox"> 
                <i class="bi bi-house-door-fill"></i>
                    <p id="iconText">123 Main Street, Florida 31211</p>
                <i class="bi bi-phone-fill"></i>
                    <p id="iconText">+ 01 234 567 89</p>
                <i class="bi bi-envelope-fill"></i>
                    <p id="iconText">email@email.com</p>
        </div>
        <div class="col-2"></div>
        <div class="text-center mb-5 mt-4" id="sendButton">
            <button id="btn" onclick="alert('Message Sent! Expect a response within 7 business days.\n\nYour Message: \'\''+ document.getElementById('message').value + ' \'\' | Thanks!\n\n')">
                <p id="btnText" >Send</p>
                <br id="bottom">
            </button>
        </div>
    </div>
  </div>
</body>
