
@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";


html,
body {
  height: 100%;
  position: relative;
  margin: 0;
  box-sizing: border-box;
}

.full-page-container {
  height: calc(100vh - 114px);
}

app-root {
  min-height: 100%;
  // overflow: hidden;
  display: block;
  position: relative;
  background-color: #eee;
}

.section-header {
  padding-top: 70px;
  padding-bottom: 40px;
}

.footer-absolute {
  position: absolute;
  bottom: 0;
  width: 100%;
}

app-welcome {
  background-color: white;
}

@import "~igniteui-angular/theming";
// Uncomment the following lines if you want to add a custom palette:
 $primary: #731963 !default;
 $secondary: #242424 !default;
 $app-palette: igx-palette($primary, $secondary);

/* autoprefixer grid: on */

@include igx-core();
@include igx-typography($font-family: $material-typeface, $type-scale: $material-type-scale);
@include igx-theme($default-palette);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
