.row {
  margin: 0;
  position: absolute;
  top: 42%;
  left: 55%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  min-height: 100vh;
}

body {
  background-color: rgb(18,18,18)
}

h2, h5 {
  color: white;
}

h2 {
  font-weight: bold;
}